@import '../../style/var/index.scss';

.search-conatiner{
  padding: 0 10px;
  height: 48px;
  line-height: 48px;
  .search-icon{
    cursor: pointer;
    color: #737373;
    position: relative;
    right: 12px;
    top: 4px;
    &:hover{
      color: $text-color-base;
    }
  }
  .search-input{
    transition: all .2s;
    // -webkit-transform: all .2s;
    .icon{
      cursor: pointer;
      color: #c7c7c7;
    }
    & input{
      border: none;
      border-bottom: 1px solid $border-color-base;
      &:hover{
        border-color: #fff;
        border-bottom: 1px solid $button-ghost-hover-color;
      }
      &:focus{
        border-color: #fff;
        border-bottom: 1px solid $button-ghost-hover-color;
        outline: 0;
        box-shadow: none;
      }
    }
    & .ant-input-affix-wrapper{
      border: none;
      &:hover{
        border-color: #fff;
      }
      &>input.ant-input {
        padding: 0;
        border-bottom: 1px solid $border-color-base;
        outline: none;
    }
    }
    & .ant-input-affix-wrapper-focused {
      border-color: #fff;
      // border-bottom: 1px solid $button-ghost-hover-color;
      outline: 0;
      box-shadow: none;
    }
  }
}