@import '../../../style/var/index.scss';

.layout-sider{
  position: absolute;
  height: 100%;
  z-index: 999;
}
.layout-content{
  height: 100%;
  width: calc(100% - 48px);
  position: absolute;
  left: $layout-menu--collapsed-width;
  z-index: 0;
  .ant-layout-header {
    height: $layout-header-height;
    padding: 0px;
    line-height: 64px;
    background:$layout-header-bgc;
  }
}

.main-container {
  margin: 10px;
  min-height: 500px;
  min-width: 500px;
  height: calc(100% - 85px);
  &>div{
    background-color: #fff;
    height: 100%;
    padding: 15px;
  }
}