@import '../../../style/var/index.scss';

.menu-container{
  height: calc(100% - 90px);
  overflow: auto;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  &::-webkit-scrollbar { width: 0 !important }
  .menu-icon-container{
    display: inline-block;
    vertical-align: sub;
    .menu-icon{
      font-size: 24px;
    }
  }
  .menu-title{
    display: inline-block;
    margin-left: 10px;
  }

  .ant-menu-inline-collapsed {
    width: $layout-menu--collapsed-width;
    .ant-menu-submenu{
      .ant-menu-submenu-title{
        left: 0;
        padding: 0 10px !important;
        text-overflow: clip;
      }
    }
    .ant-menu-item{
      left: 0;
      padding: 0 10px !important;
      text-overflow: clip;
    }
  }
}